<h1>Results</h1>
<p>{{ food_type.get_type_display }}</p>
<form action="{% url 'recommender:getRestaurants' %}" method="post">
  {% csrf_token %}
  <input type="hidden" value="{{ person_id }}" name="person_id">
  <input type="hidden" value="{{ food_type.type }}" name="food_type">
  <input type="hidden" name="lat">
  <input type="hidden" name="lon">
  <input type="submit" value="Get Restaurants" />
  <p id="demo"></p>
</form>
<form action="{% url 'recommender:newSuggestion' %}" method="post">
  {% csrf_token %}
  <input type="hidden" value="{{ person_id }}" name="person_id">
  <input type="hidden" value="{{ food_type.type }}" name="food_type">
  {% for item in food_type_array %}
  <input type="hidden" value="{{ item }}" name="food_type_array">
  {% endfor %}
  {% for item in rejected %}
  <input type="hidden" value="{{ item }}" name="rejected">
  {% endfor %}
  <input type="submit" value="I don't want {{ food_type.get_type_display }}" />
</form>

<script>
  var x = document.getElementById("demo");

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(setPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }

  function setPosition(position) {
    document.querySelector("input[name=lat]").value = position.coords.latitude;
    document.querySelector("input[name=lon]").value = position.coords.longitude;
  }

  getLocation();
</script>
